MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/nta_exam_db?retryWrites=true&w=majority
JWT_SECRET=nkaysolutions_nta_secret_2026_change_this
PORT=3000
MNOTIFY_KEY=s6mhqRtYmKUm4Pf3Go6garMmT
MNOTIFY_SENDER=NkayAcad
FRONTEND_URL=https://NanaKwame7225.github.io
